<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89572115382-edgif9n9rgkrpidpvk3a7onipm3dq3d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89572115382-edgif9n9rgkrpidpvk3a7onipm3dq3d5</string>
	<key>API_KEY</key>
	<string>AIzaSyD3QvW1HAMHrdkiiX7zmLQMrtC20rHUEuk</string>
	<key>GCM_SENDER_ID</key>
	<string>89572115382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-12f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-12f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89572115382:ios:59b118a1d4359ffca57717</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-12f2e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>